<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>#TituloRelatorio#</title>
	<style type="text/css">
		body {
			font-family: Arial, Arial, Helvetica, sans-serif;
		}

		span {
			color: #808080;
		}

		P {
			font-family: 'Trebuchet MS';
			color: #44546f;
			margin-bottom: 5px !important;
		}

		a {
			background: #ed2929;
			font-weight: bold;
			color: #fff;
			padding: 5px;
			margin-right: 10px;
			text-decoration: none;
			font-family: Arial;
			font-size: 12px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}

		select {
			background: #fff;
			border: 1px solid #999;
		}

		.one-raf {
			page-break-before: always;
		}

		.one-raf:first-child {
			page-break-before: avoid;
		}

        table tbody tr td div {
            page-break-inside: avoid !important;
        }

	</style>
</head>
<body>
	<div class="one-raf">



		<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
			<tbody>
				<tr>
					<td>
						<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
							<tbody>
								<tr>
									<td>

										<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: #ffffff;" align="center">
											<tbody>
												<tr>
													<td style="width:80%">
														<h1 style="text-align: center; font-size: 25px; font-weight: bold">#TituloRelatorio#</h1>
													</td>
												</tr>
												<tr>
													<td>

														<table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
															<tr>
																<td width="28%" valign="top" align="right" style="font-size: 13px; font-weight: bold; padding-bottom:5px;">Obra:</td>
																<td width="4%"></td>
																<td width="68%" valign="top" style="font-size: 13px; padding-bottom:5px;">#Obra#</td>
															</tr>
															<tr style="#DisplayEndereco#">
																<td valign="top" align="right" style="font-size: 13px; font-weight: bold; padding-bottom:5px;">Local:</td>
																<td></td>
																<td valign="top" style="font-size: 13px; padding-bottom:5px;">
																	#Endereco#
																</td>
															</tr>
															<tr>
																<td valign="top" align="right" style="font-size: 13px; font-weight: bold; padding-bottom:5px;">Data do documento:</td>
																<td></td>
																<td valign="top" style="font-size: 13px; padding-bottom:5px;">#DataComprovante#</td>
															</tr>
															<tr style="#DisplayContratante#">
																<td valign="top" align="right" style="font-size: 13px; font-weight: bold; padding-bottom:5px;">Contratante:</td>
																<td></td>
																<td valign="top" style="font-size: 13px;">#Contratante#</td>
															</tr>
															<tr style="#DisplayResponsavel#">
																<td valign="top" align="right" style="font-size: 13px; font-weight: bold;">Responsável:</td>
																<td></td>
																<td valign="top" style="font-size: 13px; padding-bottom:5px;">#Responsavel#</td>
															</tr>
														</table>
													</td>
												</tr>

												<tr>
													<td>
														<h2 style="background: #f4f4f4; border: 1px solid #e8e8e8; border-radius:5px;  padding: 15px 10px; text-align: center; font-weight: bold; font-size: 16px;">
															Atividades / Tarefas
														</h2>
													</td>
												</tr>
												<tr>
													<td>
														#TEMPLATE_CHECKLISTS#
													</td>
												</tr>
												<tr>
													<td>
													</td>
												</tr>
												
												#AREA_ORCAMENTO#

												#AREA_GARANTIA#

												#AREA_COMENTARIOS#

												#AREA_FOTOS#

												<tr>
													<td align="center">
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tbody>
																<tr>
																	<td style="background: #fff">
																		<div>
																			&nbsp;
																		</div>
																	</td>
																	<td style="width: 40px; height: 70px">&nbsp;</td>
																	<td style="background: #fff">
																		<div>
																			&nbsp;
																		</div>
																	</td>
																</tr>
																<tr>
																	<td style="background: #fff">
																		<p style="font-size: 16px; border-top: 1px solid #666666; text-align: center; color: #666666; padding: 10px ">Assinatura</p>
																	</td>
																	<td style="width: 40px;">&nbsp;</td>
																	<td style="background: #fff">
																		<p style="font-size: 16px; border-top: 1px solid #666666; text-align: center; color: #666666; padding: 10px ">Assinatura</p>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
												<tr>
													<td>
														<div style="margin-top: 30px; border-top: 1px solid #666666; padding: 20px;">
															<h5 style="float: left; margin: 0">www.construa.app</h5>
															<p style="float: right; margin: 0">
																<img src='data:image/jpeg;base64,#IMAGEM_LOGO#' style='width: 150px;' />
															</p>
															<div style="clear: both"></div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>

									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>





	</div>

</body>
</html>




